<% provide(:title, 'ホーム') %>
<div class="center jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1>REVIEWEEES</h1>
    <h4 class="site-description">お気に入りの日用品をシェア&レビューしよう！</h4>
    <%= link_to "投稿する", signup_path, class: "btn btn-md btn-primary-home" %>
  </div>
</div>
<%= render 'layouts/about' %>
