<% provide(:title, 'プロフィール') %>
<div class="container text-center">
  <div class="jumbotron">
    <h3><%= @user.name %></h3>
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "profile-image" %>
    <% else %>
      <img class="profile-image" src="/no_image.jpeg">
    <% end %>
  </div>
  <%= render 'users/show' %>
</div>
<script>
  $('.star-rating-read').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
  window.onbeforeunload = function() {
    // IE用。ここは空でOKです
  };
  window.onunload = function() {
    // IE以外用。ここは空でOKです
  };
</script>
