<div class="row">
  <h2 class="col-lg-4 topic-name">写真</h2>
</div>
<div class="post-pictures col-lg-offset-1">
  <div class="col-lg-4">
    <img class="img-responsive center-block show-img2" src="/image.png">
  </div>
  <div class="col-lg-4">
    <img class="img-responsive show-img2" src="/image.png">
  </div>
</div>
