<div class="row">
  <h2 class="col-lg-5 topic-name">レビュー</h2>
</div>
<%= render @reviews %>
<div class="col-lg-offset-3 review-link">
  <%= link_to "レビューを投稿する", new_post_review_path(@post), class: "btn btn-post-review" %>
</div>
<div class="col-lg-offset-2 pagination">
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails,
  previous_label: '&nbsp;前', next_label: '次',
  inner_window: 1, outer_window: 0 %>
</div>
