<% provide(:title, @post.name) %>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'shared/overview' %>
        <%= render 'shared/review_post' %>
      </div>

    <!-- カテゴリー(人気) -->
    <div class="col-lg-6">
      <div class="row">
        <h2 class="col-lg-5 topic-name">人気商品</h2>
      </div>
      <%= render partial: 'shared/sidebar-popular', collection: Post.fetch_popular_posts.first(4),
      as: :post %>
      <div class="row line"></div>
      <div class="row">
        <h2 class="col-lg-5 topic-name">新着商品</h2>
      </div>
      <%= render partial: 'shared/sidebar-latest', collection: Post.fetch_latest_posts.first(4),
      as: :post %>
    </div>
  </div>
</div>

<script>
  $('.star-rating-read').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
           return $(this).attr('data-score');
    }
  });
  window.onbeforeunload = function() {
    // IE用。ここは空でOKです
  };
  window.onunload = function() {
    // IE以外用。ここは空でOKです
  };
</script>
