@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background-color: #F7F6EB;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  margin-top:50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: YuGothic,'Yu Gothic',sans-serif;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.navbar-nav {
  li {
    padding-top: 12px;
    padding-right: 20px;
    list-style: none;
  }
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color:black;
    text-decoration: none;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  text-decoration: none;
}

.btn-dropdown {
  margin-top: 6px;
  margin-left: 5px;
  font-weight: bold;
  border-color: #2B7396;
  border-radius: 10px;
  background-color: white;
}

.btn-dropdown:hover {
  color: white;
  background-color: #2B7396;
  transition-duration: 0.4s;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 20px;
  a {
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: center;
    line-height: 40px;
  }
  a:hover {
    color: white;
    background-color: #2B7396;
    transition-duration: 0.4s;
    border-radius: 30px;
  }
}

/* Home */

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background-image: url("/background.jpg");
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.site-description {
  font-family: 'Yu Gothic UI';
}

.btn-primary-home {
  background-color: #2B7396;
  color: white;
  font-weight: bold;
  transition-duration: 0.4s
}

.btn-primary-home:hover {
  background-color: white;
  border-color: #2B7396;
  color: black;
}

/* about */

.col-sm-4 {
  padding-top: 20px;
  background-color: #F6FBF6;
  border-radius: 15px;
}

/* Footer */

footer {
  height: auto;
  margin-top: 20px;
  padding-top: 5px;
  background-color: #4B64A1;
  p {
    color: white;
  }
  ul {
    float: right;
    padding-right: 43%;
    list-style: none;
  }
  li {
    color: white;
    padding-top: 20px;
    float: left;
    margin-left: 15px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color:white;
  }
}

/* form/signup */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.col-md-4 {
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}

.btn-signup {
  width: 100px;
  margin-left: 125px;
  margin-bottom: 20px;
  background-color: #285294;
  color: white;
}

.btn-signup:hover {
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

#error_explanation {
  ul {
    color: red;
    margin: 0 0 10px 0;
    list-style: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* users/show */

.jumbotron {
  position: relative;
  background-color: transparent;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: transparent;
  width: 700px;
  margin: 0 auto;

}

.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 2px solid #C7E6E2;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

.tabs input:checked + .tab_item {
  border-bottom: 2px solid #4B64A1;
  color: #4B64A1;
}

/* Flash message */

.alert-success {
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #BBD347;
}

.alert-danger {
  height: auto;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #B34C5A;
}

/* form/login */

.login-form {
  margin-top: 20px;
  line-height: 30px;
}

.btn-login {
  width: 100px;
  margin-left: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #285294;
  color: white;
}

.btn-login:hover {
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.checkbox {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: -10px;
  span {
    margin-left: 20px;
    font-weight: bold;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
