@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  height: 500px;
  background-color: #F7F6EB;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  margin-top:60px;
}

#wrap {
  min-height: 100%;
  height: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: YuGothic,'Yu Gothic',sans-serif;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* fontawsome(star) */
.star-harf {
  color: #F2B33D;
}

.star-off {
  color: #5D6562;
}

.star-on {
  color: #F2B33D;
}

.heart-on {
  color: #9D2932;
}

.heart-off {
  color: #DE5065;
}

.icon {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: none;
}

.sns-link {
  a {
    text-decoration: none;
  }
}

/* btn (bootstrap) */
.btn-dropdown {
  margin-top: 6px;
  margin-left: 5px;
  font-weight: bold;
  border-color: #2B7396;
  border-radius: 10px;
  background-color: white;
}

.btn-dropdown:hover {
  color: white;
  background-color: #2B7396;
  transition-duration: 0.4s;
}

.btn-primary-home {
  background-color: #2B7396;
  color: white;
  font-weight: bold;
  transition-duration: 0.4s
}

.btn-primary-home:hover {
  background-color: white;
  border-color: #2B7396;
  color: black;
}

.btn-primary-category {
  background-color: #C7E6E2;
  color: #302F2B;
  font-weight: bold;
  transition-duration: 0.4s;
}

.btn-primary-category:hover {
  background-color: #285294;
  color: white;
}

.btn-signup {
  width: 100px;
  margin-left: 125px;
  margin-bottom: 20px;
  background-color: #285294;
  color: white;
}

.btn-signup:hover {
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-file-upload {
  border-color: #7B8075;
  color: #7B8075;
  background-color: transparent;
}

.btn-login {
  width: 100px;
  margin-left: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #285294;
  color: white;
}

.btn-login:hover {
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-edit {
  font-weight: bold;
  margin-top: 20px;
  background-color: #285294;
  color: white;
}

.btn-edit:hover {
  font-weight: bold;
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-delete {
  font-weight: bold;
  margin-top: 20px;
  background-color: #CD6349;
  color: white;
}

.btn-delete:hover {
  font-weight: bold;
  border-color: #CD6349;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-post-review {
  font-weight: bold;
  margin-right: 40px;
  margin-top: 20px;
  background-color: #285294;
  color: white;
}

.btn-post-review:hover {
  font-weight: bold;
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-review-edit {
  font-weight: bold;
  background-color: #285294;
  color: white;
}

.btn-review-edit:hover {
  font-weight: bold;
  border-color: #285294;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-review-delete {
  font-weight: bold;
  background-color: #CD6349;
  color: white;
}

.btn-review-delete:hover {
  font-weight: bold;
  border-color: #CD6349;
  background-color: white;
  color: black;
  transition-duration: 0.4s
}

.btn-heart {
  background-color: white;
  border-style: none;
  border-radius: 50%
}

.btn-heart:hover {
  background-color: white;
}

/* badge (bootstrap) */
.badge-light-main {
  margin-left: 15px;
  text-align: center;
  background-color: #4B64A1;
  color: white;
}

.badge-light-sub {
  margin-left: 15px;
  text-align: center;
  background-color: #833638;
  color: white;
}

.badge-light-category-main {
  text-align: center;
  background-color: #833638;
  color: white;
}

.badge-light-category-sub {
  text-align: center;
  background-color: #4B64A1;
  color: white;
}


.badge-light-category {
  margin-left: 5px;
  text-align: center;
  background-color: #4B64A1;
  color: white;
}

.badge-danger {
  margin-left: 5px;
  background-color: #C41A41;
}

.badge-danger {
  margin-left: 5px;
  background-color: #C41A41;
}

.badge-secondary {
  margin-left: 5px;
}

/* popular・latest(home) */

.topic-title {
  float: left;
  padding-left: 20px;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.signup-form {
  margin-top: 30px;
  line-height: 30px;
}

.col-md-4 {
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}

#error_explanation {
  ul {
    color: red;
    margin: 0 0 10px 0;
    list-style: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.fa-plus {
  padding-right: 10px;
}

.prev-image img {
  width: 40%;
  height: 40%;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 10px 10px;
}

/* Flash message */

.alert-success {
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #BBD347;
}

.alert-danger {
  height: auto;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #B34C5A;
}

/* form/login */

.login-form {
  margin-top: 30px;
  line-height: 30px;
}

.checkbox {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: -10px;
  span {
    margin-left: 20px;
    font-weight: bold;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */
.line {
  width: 90%;
  height: 1px;
  margin: 16px 0;
  margin-left: 10px;
  border-top: 1px solid #DDDDDD
}

.sidebar-img {
  padding-top: 5px;
  width: 30%;
  height: 30%;
  float: left;
}

.sidebar-title {
  a {
    color: #7E8080;
    text-decoration: none;
  }
}

.sidebar-category {
  float: left;
}

.comment-icon {
  color: #5D6562
}
