<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">
      <ul>
        <li><%= link_to "Revieweesとは",    about_path %></li>
        <li><%= link_to "Contact",          contact_path %></li>
      </ul>
    </span>
  </div>
</footer>
